<div
  class="panel"
  role="dialog"
  [attr.aria-label]="
    (initial() ? 'templates.form.edit_title' : 'templates.form.create_title') | translate
  "
>
  <h3 class="panel__title sc-text-body-semibold">
    {{ (initial() ? 'templates.form.edit_title' : 'templates.form.create_title') | translate }}
  </h3>

  <div class="panel__field">
    <sc-inputtext
      #titleInput
      inputId="template-title"
      type="text"
      [label]="'templates.form.title' | translate"
      [value]="title()"
      [placeholder]="'templates.form.title_placeholder' | translate"
      (valueChange)="onTitleInput($event)"
      (keydown)="onKey($event)"
    />
  </div>

  <div class="panel__field">
    <span class="panel__label sc-text-caption-regular" [id]="channelLabelId">{{ 'templates.form.channel' | translate }}</span>
    <!-- Botones segmentados (`sc-selectbutton`): se elige el valor del campo (DD-112). -->
    <sc-selectbutton
      [options]="typeOptions()"
      optionValue="value"
      [allowEmpty]="false"
      [value]="type()"
      (valueChange)="onTypeChange($event)"
      [ariaLabelledBy]="channelLabelId"
    >
      <ng-template #item let-option>
        <sc-icon [name]="option.icon" size="inherit" />
        <span>{{ option.label }}</span>
      </ng-template>
    </sc-selectbutton>
  </div>

  <div class="panel__field">
    <label class="panel__label sc-text-caption-regular" for="template-body">
      {{ 'templates.form.body' | translate }}
    </label>
    <sc-textarea inputId="template-body" [rows]="3" fluid [value]="body()" [placeholder]="'templates.form.body_placeholder' | translate" (valueChange)="onBodyInput($event)" (keydown)="onKey($event)" />
    <p class="panel__hint sc-text-caption-regular">
      {{ 'templates.form.variables_hint' | translate }}
    </p>
  </div>

  <div class="panel__error-slot">
    @if (error()) {
      <div class="panel__error sc-text-caption-regular">
        <sc-icon [name]="alertIcon" size="inherit" />
        <span>{{ error() | translate }}</span>
      </div>
    }
  </div>

  <div class="panel__actions">
    <sc-button variant="secondary" appearance="outlined" [label]="'common.cancel' | translate" (clicked)="cancelled.emit()" />
    <sc-button variant="primary" [label]="(initial() ? 'common.save' : 'common.create') | translate" (clicked)="onSave()" />
  </div>
</div>
