<h1>sc-tag</h1>

<h2>Severities</h2>
<div class="row">
  <sc-tag value="Primary" data-testid="sc-tag" />
  <sc-tag value="Secondary" severity="secondary" />
  <sc-tag value="Success" severity="success" />
  <sc-tag value="Info" severity="info" />
  <sc-tag value="Warn" severity="warn" />
  <sc-tag value="Danger" severity="danger" />
  <sc-tag value="Contrast" severity="contrast" />
</div>

<h2>Variantes</h2>
<div class="row">
  <sc-tag value="Rounded" [rounded]="true" />
  <sc-tag value="Con icono" icon="check" />
</div>
