<app-story-host [meta]="meta" [stories]="stories()" />

<!-- Stories declaradas como `<ng-template>`: el motor las pinta en su canvas. El
     Playground recibe `args` (knobs); los ejemplos son estáticos. Los `data-testid`
     los miden los e2e de métrica del Kit (no quitar). -->

<ng-template #playground let-args>
  <sc-avatar
    [label]="args.label || null"
    [icon]="args.icon || null"
    [size]="args.size"
    [shape]="args.shape"
    [badge]="args.badge || null"
    [badgeVariant]="args.badgeVariant"
  />
</ng-template>

<ng-template #types>
  <sc-avatar label="SC" data-testid="sc-avatar-md" />
  <sc-avatar icon="user" />
  <sc-avatar label="SQ" shape="square" />
</ng-template>

<ng-template #sizes>
  <sc-avatar label="N" />
  <sc-avatar label="L" size="large" data-testid="sc-avatar-lg" />
  <sc-avatar label="XL" size="xlarge" data-testid="sc-avatar-xl" />
</ng-template>

<ng-template #badge>
  <sc-avatar label="B" [badge]="4" data-testid="sc-avatar-badge" />
  <sc-avatar icon="user" [badge]="''" badgeVariant="success" />
</ng-template>

<ng-template #group>
  <sc-avatargroup data-testid="sc-avatargroup">
    <sc-avatar label="A" />
    <sc-avatar label="B" />
    <sc-avatar label="+3" />
  </sc-avatargroup>
</ng-template>

<ng-template #illustration>
  <sc-avatar
    illustrationName="Inés García"
    illustrationPool="abstract"
    size="xlarge"
    data-testid="sc-avatar-illus"
  />
  <sc-avatar illustrationName="Carlos Ruiz" illustrationPool="abstract" size="xlarge" />
  <sc-avatar illustrationName="Soporte Ventas" illustrationPool="abstract" size="xlarge" />
</ng-template>
